*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Segoe UI";
    background-color: white;
    color:black;
    margin: 0;
}

header {
    background-color: white;
    position: relative;
    padding: 1% 8%;
}

nav a {
    color:black;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    position: relative;
    top: 0.7 rem;
    bottom: 1rem;
}

nav li {
    display: inline;
    margin-left: 0.5rem;
}

.move-center {
    list-style-type: none;
    position: absolute; 
    top: 10px;
    left: 80rem;
    
}

.move-center li {
    display: inline;
}

.move-right {
    float: right; 
}

hr {
    background-position: center;
    border: 1px solid black;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    font-size: xx-large;
    position: absolute;
    text-align: left;
    top:125px;
    left: 90px;
}

.bottom-right {
    font-size: xx-large;
    position: absolute;
    bottom: 125px;
    right: 90px;
}

.flex-about {
    display: flex;
}

.image {
    object-position: 50% 50%;
}

.product-flex {
    display: grid;
    grid-template-areas: 
    "top-l top top-r"
    "mid-l mid mid-r"
    "bot-l bot bot-r";
    justify-items: center;
}

.product-image {
    width: 240px;
}

.button {
    background-color: coral;
    color:white;
    float: right;
}

.pimage {
    width: 100%
}

.contact-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
}

.button-contact {
    background-color: coral;
    color: white;
    float: right;

}



















/*  */
/* nav a { */
    /* color: black; */
    /* text-decoration: none; */
/* } */
/*  */
/* nav ul { */
    /* list-style-type: none; */
    /* position:relative; */
/* } */
/*  */
/* nav li { */
    /* display: inline; */
    /* margin-left: 3rem; */
/* } */